<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carga de familiares</title>
</head>
<body>
    <p>Info de familiares:
        <ul>
            <li>Nombre: {{persona.nombre}} </li>
            <li>Edad: {{persona.edad}} </li>
            <li>Fecha: {{persona.fecha}} </li>
            
        </ul>
    </p>
    <p>Para ver la lista de familiares escriba en la url: "/lista_familiares"</p>
</body>
</html>