{% extends 'base.html' %}

{% block title %}
<title>Lista de familiares</title>
{% endblock title %} 

{% block texto_h3 %}
<h3>Este es el listado:</ht>
{% endblock texto_h3 %}

{% block instrucciones %}
<p>
    <ul>
        {% for persona in lista_familiares %}
        
        <li>Nombre: {{persona.nombre}} Edad: {{persona.edad}} Fecha: {{persona.fecha}}  </li>
        
        
        {% endfor %}
    </ul>
</p>
<p>Para cargar  una persona a la lista escriba en la url: "/carga_familiares/nombre/edad"</p>

{% endblock instrucciones %}